{% extends 'flatpages/default.html' %}

{% load static %}

{% block title %}
PerevalAdded
{% endblock title %}

{% block content %}
    <div class="background" id="home" style="background-color: rgb(105, 105, 105);">
    <form action="" method="post">
        {% csrf_token %}

        <a style = "font-family: &quot;Source Sans Pro&quot;, sans-serif;"><font size="7" color="LightSkyBlue"> Наши объявления </font></a>
        <!-- Если в переменной next_sale будет None, то выведется указанный в фильтре текст -->
        <h5><span style = "color: LemonChiffon">{{ next_action|default_if_none:"Чуть позже сообщим о новой акции!" }}</span></h5>
        <br>

        {% if pereval %}
            {% for serv in object_list %}
                <!-- Выводим наименование-->
                <br><br>
                <h3><a href="../object/{{serv.id}}"><font size="7" color="LemonChiffon">{{ serv.beauty_title }} {{ serv.title }}</font></a></h3>
                <!-- Выводим автора и дату публикации -->
                <em><font color="LemonChiffon">Автор: {{ serv.users }}  ...  Дата публикации: {{ serv.add_time }}</font></em>
<!--                <font size="4" color="LemonChiffon">{{ serv.post_text }}</font>-->
                <a href="../pereval_change/{{serv.id}}"><font size="3" color="white">Редактировать</font></a>
                <br><br>
            {% endfor %}
        {% else %}
            <h2>Объектов нет!</h2>
        {% endif %}
    </form>
{% endblock content %}
